* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#penny{
    width: 600px;
    height: 375px;
}
#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header {
    background-color: #1f2937 ;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}
ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}
.hero {
    background-color: #1f2937 ;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.text button {
    width: max-content;
    flex: 0;
    padding: 5px 10px;
    background-color: red;
    border: none;
    border-radius:5px;
    color: #E5E7EB;
    
}
.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text p {
    font-size: 18px;
    color: #E5E7EB;
}
.information {
    text-align: center;
}
.information {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icons {
    display: flex;
    flex: 1;
    padding: 40px;
    gap: 30px;
}
.icons img {
    width: 200px;
    height: 150px;
    border: red solid 2px;
    border-radius: 5px;
}
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 10px 0px 50px 0px;
    
}
#author {
    margin-left: 500px;
    font-weight: bolder;
}
#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}